<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
        name="Anteater"
        delegate="br.com.anteater4eclipse.debug.core.LauncherConfiguration"
        modes="run"                            
        id="br.com.anteater4eclipse.debug.core.LauncherConfiguration">
    </launchConfigurationType>
   </extension>
   
   
   <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="br.com.anteater4eclipse.debug.ui.LaunchShortcut"
        class="br.com.anteater4eclipse.debug.ui.LaunchShortcut"
        label="Anteater"     
        modes="run">
        
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.js"/>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
            <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
            <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
            <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
    </shortcut>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
    	    type="br.com.anteater4eclipse.debug.core.LauncherConfiguration"
	        class="br.com.anteater4eclipse.debug.ui.AnteaterTabGroups"
        	id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.Anteater">
    	</launchConfigurationTabGroup>
	</extension>
	
	<extension point = "org.eclipse.debug.ui.launchGroups">
	<launchGroup
		id = "org.eclipse.ui.externaltools.launchGroup.builder"
		mode = "run"		
		label = "Anteater"
		image = "icons/anteater_engineer.png"
		bannerImage = "icons/anteater_engineer.png"
		public = "true">
	</launchGroup>  
</extension>

</plugin>
